.order-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2{
margin-bottom: 20px;
    font-family: monospace;
    color: #333333;
    font-size: 25px;
    font-weight: bold;
}

.account-details,
.product-details {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: monospace;
}

.product-image {
  width: 50%;
  max-width: 300px; /* Adjust the max-width as needed */
  border-radius: 5px; /* Optional: Rounded corners for the image */
}

.form-group {
  margin-bottom: 15px;
}



label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

  .buy-now-btn {
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s ease;
  }

  .back-btn {
    position: absolute;
    top: 84px;
    right: 68px;
    background-color: transparent;
    border: none;
    color: #ff5722;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
  }

  .qunatity-input{
    width: 25%;
  }
  