<div class="order-container">
  <h2>Checkout</h2>
  <button class="back-btn" (click)="goBack()">← Back to Products</button>
  <form (ngSubmit)="buyProduct()" #orderForm="ngForm">
    <div class="row">
      <!-- Account Details Section -->
      <div class="col-6 account-details">
        <h4>Account Details</h4>
        <hr />
        <div class="form-group">
          <input type="text" id="accountNumber" [(ngModel)]="accountDetails.accountNumber" name="accountNumber" placeholder="Account Number" required />
        </div>
        <div class="form-group">
          <input type="text" id="ifsc" [(ngModel)]="accountDetails.ifsc" name="ifsc" placeholder="IFSC Code" required />
        </div>
        <div class="form-group">
          <input type="text" id="bankName" placeholder="Bank Name" [(ngModel)]="accountDetails.bankName" name="bankName" required />
        </div>

        <div class="shipping-address">
          <h4>Shipping Address</h4>
          <hr />
          <div class="form-group">
            <input type="text" id="fullName" placeholder="Full Name" [(ngModel)]="shippingAddress.fullName" name="fullName" required />
          </div>
          <div class="form-group">
            <input type="text" id="addressLine1" placeholder="Address Line 1" [(ngModel)]="shippingAddress.addressLine1" name="addressLine1" required />
          </div>
          <div class="form-group">
            <input type="text" id="city" placeholder="City" [(ngModel)]="shippingAddress.city" name="city" required />
          </div>
          <div class="form-group">
            <input type="number" id="postalCode" placeholder="Postal Code" [(ngModel)]="shippingAddress.postalCode" name="postalCode" required />
          </div>
          <div class="form-group">
            <input type="text" id="country" placeholder="Country" [(ngModel)]="shippingAddress.country" name="country" required />
          </div>
          <div class="form-group">
            <input type="text" id="state" placeholder="State" [(ngModel)]="shippingAddress.state" name="state" required />
          </div>
          <div class="form-group">
            <input type="Number" id="phoneNumber" placeholder="Phone Number" [(ngModel)]="shippingAddress.phoneNumber" name="phoneNumber" required />
          </div>
        </div>
      </div>

      <!-- Product Details Section -->
      <div class="col-6 product-details">
        <h4>Product Details</h4>
        <hr />
        <div *ngIf="product">
          <h4><strong>{{ product.name }}</strong></h4>
          <p>{{ product.price | currency }}</p>
          <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
            class="qunatity-input"
              type="number"
              id="quantity"
              [(ngModel)]="quantity"
              [value]="quantity || 1" 
              (change)="calculateTotalPrice()"
              min="1"
              required
            />
          </div>
          
          <h4>Price Details</h4>
          <hr />
          <p>Product Price:{{ product.price |currency }}</p>
          <p>Shipping Cost:{{ shippingCost | currency }}</p>
          <p>Tax Amount:{{ taxAmount | currency }}</p>
          <hr />
          <p><b>Total: {{ totalPrice | currency }}</b></p>
          <button type="submit" class="buy-now-btn">PLACE ORDER</button>
        </div>
      </div>
    </div>
  </form>
</div>
