<div class="order-detail container">
    <h2>Order Details</h2>
    <div *ngIf="order" class="order-box mt-3">
      <div class="row"> 
        <div class="col-md-3"> 
          <h4>Shipping Address</h4>
          <hr/>
          <p>{{ order.shippingAddress.fullName }}</p>
          <p>{{ order.shippingAddress.addressLine1 }}</p>
          <p>{{ order.shippingAddress.city }}, {{ order.shippingAddress.state }} - {{ order.shippingAddress.postalCode }}</p>
          <p>{{ order.shippingAddress.country }}</p>
          <p>Phone: {{ order.shippingAddress.phoneNumber }}</p>
        </div>

        <div class="col-md-3"> 
          <h4>Account Details</h4>
          <hr/>
          <p>Account Number: {{ order.accountDetails.accountNumber }}</p>
          <p>IFSC: {{ order.accountDetails.ifsc }}</p>
          <p>Bank Name: {{ order.accountDetails.bankName }}</p>
          <p>Payment Method: {{ order.paymentMethod ? 'Bank Transfer' : 'N/A' }}</p>
        </div>
  
        <div class="col-md-3"> 
          <h4>Order Summary</h4>
          <hr/>
          <p>Quantity: {{ order.quantity }}</p>
          <p>Total Price: {{ order.totalPrice | currency }}</p>
          <p>Tax Amount: {{ order.taxAmount | currency }}</p>
          <p>Shipping Cost: {{ order.shippingCost | currency }}</p>
          <p>Order Status: {{ order.orderStatus }}</p>
          <p>Order Date: {{ order.orderDate | date:'short' }}</p>
        </div>

        <div class="col-md-3"> 
            <h3 class="order-name ml-4">{{ order.productId.name }}</h3>
            <img class="product-image img-fluid" [src]="order.productId.image" alt="{{ order.productId.name }}" />
            <a [routerLink]="['/product-details', order.productId._id]">
              <p class="view-product">View Product</p>
            </a>
        </div>
      </div>
    </div>
</div>
